:root {
  --main-dark-color: #242424;
  --main-light-color: rgb(239, 237, 237);
  --hover-color: rgba(128, 128, 128, 0.3);

  --default-border: 1px solid rgba(128, 128, 128, 0.3);
  --dark-border: 1px solid rgba(128, 128, 128, 0.5);
  --default-border-radius: 0.75rem;
  --small-border-radius: 0.75rem;
  --xs-border-radius: 0.5rem;

  --default-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  --label-color: #cbcbcb;

  --default-transition: 0.2s ease;
}
